{% extends 'layouts.html' %}

{% block header %}
        <h1>ADMIN</h1>  
{% endblock %}

    {% block form %}
       <table>
            <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Picture</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.image_file }}</td>
                            <td>{{ user.password }}</td>
                            <td>
                                    <a class="btn" href="#">Modify</a>
                                    <a class="btn" href="#">Delete</a>
                            </td>
    
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

    {% endblock %}