{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ipsam sint provident tempora praesentium totam magni delectus odit, aliquid nisi?</p>
{% endblock %}